.breadcrumb__links {
  display: flex;
  align-items: center;
  gap: 8px; /* Khoảng cách giữa các phần tử */
  font-size: 14px;
}

.breadcrumb__links a:hover {
  text-decoration: underline; /* Hiệu ứng hover */
}

//
.description-container {
  position: relative;
}

.truncated {
  line-height: 25px; /* Giữ line-height là 25px */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Giới hạn hiển thị 4 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 100px; /* Chiều cao phù hợp với 4 dòng */
}

.description-container p {
  margin-bottom: 0; /* Loại bỏ margin mặc định của <p> */
  line-height: 25px; /* Đảm bảo line-height luôn 25px */
}

/* Nếu không cắt */
.description-container p:not(.truncated) {
  line-height: 25px; /* Giữ line-height khi không cắt */
}

//

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.modal-body {
  padding: 20px 0;
}

.seats-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.seat {
  width: 40px;
  height: 40px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.seat-selected {
  background: #4caf50;
}

.seat-vip {
  background: #ff9800;
}

.seat-booked {
  background: #f44336;
  pointer-events: none;
  opacity: 0.6;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.btn-confirm {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

// paginate
.page-link {
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.current-page {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: 8px 12px;
}

// stars
.rating {
  display: flex;
  gap: 5px;
  cursor: pointer;
  user-select: none;
}

.star {
  font-size: 24px;
  color: gray;
  transition: color 0.2s;
  user-select: none;
}

.star.filled {
  color: gold;
  user-select: none;
}

.star:hover {
  color: gold;
}

// rating-view
.rating-view {
  display: inline-flex;
  gap: 3px;
  font-size: 20px;
  color: gray; /* Màu xám cho sao chưa được đánh giá */
}

.rating-view .filled {
  color: gold; /* Màu vàng cho sao đầy */
}
.rating-view .filled {
  color: gold; /* Màu vàng cho sao đầy */
}

// delete button

::-webkit-scrollbar {
  height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
