<!-- Breadcrumb Begin -->
<div class="breadcrumb-option bg-[#0B0C2A]">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <button class="text-white text-[15px]" [routerLink]="['/']">
            Home
          </button>
          <span>&gt;&gt;</span>
          <button class="text-white text-[15px]">Categories</button>
          <span>&gt;&gt;</span>
          <span>Romance</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb End -->

<!-- Anime Section Begin -->
<section class="anime-details spad bg-[#0B0C2A]">
  <div class="container">
    <div class="anime__details__content">
      <div class="row">
        <div class="col-lg-3">
          <div
            class="anime__details__pic set-bg"
            [style.background-image]="'url(' + movie?.image + ')'"
          >
            <div class="comment"><i class="fa fa-comments"></i> 11</div>
            <div class="view"><i class="fa fa-eye"></i> 9141</div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="anime__details__text">
            <div class="anime__details__title">
              <h3>{{ movie?.title || "Doraemon" }}</h3>
              <span>フェイト／ステイナイト, Feito／sutei naito</span>
            </div>
            <div class="anime__details__rating">
              <div class="rating">
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star-half-o"></i></a>
              </div>
              <span>1.029 Votes</span>
            </div>
            <div class="description-container">
              <p [ngClass]="{ truncated: isTruncated }">
                {{ truncatedDescription }}
              </p>
              <button
                class="absolute bottom-[2px] right-[16px] text-white"
                *ngIf="isTruncated || !isTruncated"
                (click)="toggleReadMore()"
              >
                {{ buttonText }}
              </button>
            </div>

            <div class="anime__details__widget">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li><span>Type:</span> Movie</li>
                    <li>
                      <span>Language:</span> {{ movie?.Language || "English" }}
                    </li>
                    <li><span>Date aired:</span> Oct 02, 2019 to ?</li>
                    <li>
                      <span>Status:</span>
                      {{ movie?.isrelease === 0 ? "On sale" : "Off sale" }}
                    </li>
                    <li>
                      <!-- <span>Genre:</span> Action, Adventure, Fantasy, Magic -->
                      <span>Age:</span> {{ movie?.age || 18 }}+
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li>
                      <span>Scores:</span> {{ movie?.rating || "8" }} / 10
                    </li>
                    <li><span>Rating:</span> 8 / 10</li>
                    <li><span>Duration:</span> 120 min</li>
                    <li><span>Quality:</span> HD</li>
                    <li><span>Views:</span> 131,541</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="anime__details__btn">
              <a href="#" class="follow-btn"
                ><i class="fa fa-heart-o"></i> Follow</a
              >
              <a href="#" class="watch-btn"><span>Order Now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-8">
        <!-- Showtimes -->
        <div class="container mb-5 px-0">
          <div class="section-title">
            <h5>Showtimes</h5>
          </div>

          <!-- Thanh ngày -->
          <div class="flex gap-2 mb-4 overflow-x-auto">
            <button
              *ngFor="let day of weekDays"
              [ngClass]="{
                'py-2 px-4 rounded-lg font-semibold': true,
                'bg-[#e53637] text-white':
                  selectedDay?.date?.toDateString() ===
                  day?.date?.toDateString(),
                'bg-gray-200 text-gray-800':
                  selectedDay?.date?.toDateString() !==
                  day?.date?.toDateString()
              }"
              (click)="selectDay(day)"
            >
              {{ day?.name }}<br />
              <span class="text-sm">{{ day?.date | date : "dd/MM" }}</span>
            </button>
          </div>

          <!-- Thanh rạp -->
          <div class="flex gap-2 mb-4 overflow-x-auto">
            <!-- Nút "Tất cả" -->
            <div
              class="py-2 px-4 flex items-center gap-2 bg-gray-200 rounded-lg cursor-pointer select-none"
              [ngClass]="{
                'bg-[#e53637] text-white':
                  selectedCinema === null || !selectedCinema,
                'bg-gray-200 text-gray-800': selectedCinema !== null
              }"
              (click)="selectCinema(null)"
            >
              All
            </div>

            <!-- Danh sách các rạp -->
            <div
              *ngFor="let cinema of cinemas"
              class="py-2 px-4 flex items-center gap-2 bg-gray-200 rounded-lg cursor-pointer select-none"
              [ngClass]="{
                'bg-[#e53637] text-white': selectedCinema?.id === cinema.id,
                'bg-gray-200 text-gray-800': selectedCinema?.id !== cinema.id,
              }"
              (click)="selectCinema(cinema)"
            >
              {{ cinema?.name }}
            </div>
          </div>

          <!-- Lịch chiếu -->
          <div
            *ngIf="showtimes.length > 0; else noShowtimes"
            class="px-4 pt-3 bg-slate-300 rounded-md"
          >
            <div *ngFor="let showtime of showtimes" class="pb-4">
              <div class="flex items-center">
                <div class="ml-2 flex justify-between w-full">
                  <div>
                    <h4 class="text-base font-semibold mb-1">
                      {{ showtime?.cinema?.name }}
                    </h4>
                    <p class="text-sm text-gray-500 mb-2">
                      {{ showtime?.cinema?.address }}
                    </p>
                  </div>
                  <!-- Nút Bản đồ -->
                  <div>
                    <a
                      *ngIf="showtime?.cinema?.address"
                      [href]="getGoogleMapsUrl(showtime.cinema.address)"
                      target="_blank"
                      class="text-blue-500 hover:underline text-sm hover:text-[#e53637]"
                    >
                      [ Map ]
                    </a>
                  </div>
                </div>
              </div>
              <div class="flex gap-2">
                <button
                  (click)="openModal(showtime)"
                  class="py-2 px-4 bg-blue-100 text-gray-700 rounded-lg"
                >
                  {{ showtime?.timeStart | date : "shortTime" }} ~
                  {{ showtime?.timeEnd | date : "shortTime" }}
                </button>
              </div>
            </div>
          </div>

          <!-- Add modal -->
          <app-seat-modal
            *ngIf="isModalOpen"
            [seats]="seats"
            (onClose)="closeModal()"
            (onConfirm)="handleSeatSelection()"
          ></app-seat-modal>

          <!-- Thông báo không có lịch chiếu -->
          <ng-template #noShowtimes>
            <div
              class="p-5 bg-slate-300 rounded-md flex justify-center items-center"
            >
              <p class="text-gray-800 font-semibold text-center text-lg">
                Showtime is not available
              </p>
            </div>
          </ng-template>
        </div>

        <!-- comments -->
        <div>
          <!-- Danh sách bình luận -->
          <div class="anime__details__review">
            <div class="section-title">
              <h5>Reviews</h5>
            </div>

            <div *ngIf="isLoading">Loading comments...</div>
            <div
              *ngIf="!isLoading && comments.length === 0"
              class="no-comments"
            >
              No comments available.
            </div>

            <div *ngFor="let comment of comments" class="anime__review__item">
              <div class="anime__review__item__pic">
                <img src="img/sidebar/comment-1.jpg" alt="User Avatar" />
              </div>
              <div class="anime__review__item__text">
                <div class="flex justify-between">
                  <h6 class="m-0">
                    {{ comment.user.fullName }} -
                    <span>{{ comment.updatedAt | date : "short" }}</span>
                  </h6>
                  <!-- Delete Button -->
                  <button
                    *ngIf="comment.userId === currentUserId"
                    class="delete-btn"
                    (click)="
                      confirmDeleteComment(
                        comment.movieId,
                        comment.id,
                        comment.userId
                      )
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                      width="16"
                      height="16"
                    >
                      <path
                        fill="white"
                        d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"
                      />
                    </svg>
                  </button>
                </div>
                <!-- Rating Section: Display stars based on rating -->
                <div class="rating-view mb-2">
                  <span
                    *ngFor="let star of [].constructor(5); let i = index"
                    [ngClass]="{
                      filled: i < Math.floor(comment.rating)
                    }"
                  >
                    ★
                  </span>
                </div>
                <p>{{ comment.content }}</p>
              </div>
            </div>
          </div>

          <!-- Phân trang -->
          <div class="product__pagination">
            <a
              (click)="changePage(currentPage - 1)"
              [class.disabled]="currentPage === 1"
            >
              <div class="flex justify-center items-center h-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  style="width: 14px; height: 14px; fill: white"
                >
                  <path
                    d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"
                  ></path>
                </svg>
              </div>
            </a>
            <button
              *ngFor="let page of [].constructor(totalPages); let i = index"
              style="color: white"
              class="select-none inline-block text-[15px] font-semibold h-[50px] w-[50px] text-center"
              [ngClass]="{
                'bg-transparent border-2 border-white text-white rounded-full px-3 py-2':
                  currentPage === i + 1,
                'text-white': currentPage !== i + 1
              }"
              (click)="changePage(i + 1)"
            >
              {{ i + 1 }}
            </button>
            <a
              (click)="changePage(currentPage + 1)"
              [class.disabled]="currentPage === totalPages"
            >
              <div class="flex justify-center items-center h-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                  style="width: 14px; height: 14px; fill: white"
                >
                  <path
                    d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
                  ></path>
                </svg>
              </div>
            </a>
          </div>

          <!-- Form gửi bình luận -->
          <div class="anime__details__form relative mt-5">
            <div class="section-title">
              <h5>Your Comment</h5>
            </div>
            <form (submit)="submitComment($event)">
              <textarea
                [(ngModel)]="newComment"
                placeholder="Your Comment"
                name="newComment"
              ></textarea>
              <div class="rating absolute top-0 right-0">
                <span
                  *ngFor="let star of stars; let i = index"
                  (mouseover)="hoverStar(i + 1)"
                  (mouseleave)="resetHover()"
                  (click)="setRating(i + 1)"
                  [class.filled]="i + 1 <= hoveredRating || i + 1 <= newRating"
                  class="star"
                >
                  ★
                </span>
              </div>
              <button type="submit">
                <i class="fa fa-location-arrow"></i> Review
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <app-top-movie />
      </div>
    </div>
  </div>
</section>
<!-- Anime Section End -->

<!-- Modal -->
<app-login-modal
  [isVisible]="isLoginModalVisible"
  (close)="closeLoginModal()"
></app-login-modal>
