<div
  id="modal-childest"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div
    class="bg-white rounded-lg w-[80%] max-w-4xl p-6 shadow-xl flex flex-col lg:flex-row lg:h-[90%] relative"
  >
    <!-- Nút đóng (X) -->
    <button
      class="absolute top-5 right-5 text-gray-400 hover:text-red-500 focus:outline-none"
      (click)="close()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>

    <!-- Phần trái: Thông tin giỏ hàng -->
    <div
      class="flex-1 px-6 py-4 border-b lg:border-b-0 lg:border-r flex flex-col overflow-y-auto"
    >
      <p class="text-2xl font-extrabold text-gray-900 mb-1 text-center">
        {{ cart.title || "Chưa có thông tin" }}
      </p>
      <p class="text-sm text-gray-500 mb-6 text-center">
        {{ cart.cinema || "Chưa có thông tin" }}
      </p>

      <div class="grid grid-cols-2 mb-2">
        <div class="flex justify-start">
          <p class="text-gray-600 text-sm mt-[2px] mb-0 font-semibold">
            Showtime:
          </p>
          <p class="text-gray-800 ml-1">
            {{ cart.showtime || "Chưa có thông tin" }}
          </p>
        </div>
        <div class="flex justify-end">
          <p class="text-gray-600 text-sm mt-[2px] mb-0 font-semibold">Date:</p>
          <p class="text-gray-800 ml-1">
            {{ cart.date || "Chưa có thông tin" }}
          </p>
        </div>
      </div>

      <div class="flex justify-between items-center">
        <p class="text-gray-800 font-semibold">Seats:</p>
        <p class="text-sm text-gray-700">
          {{ seatList || "Chưa có ghế nào được chọn" }}
        </p>
      </div>

      <div class="flex justify-between items-center">
        <p class="text-gray-800 font-semibold">Total of seats:</p>
        <p class="text-sm text-gray-700">
          {{ cart.totalSeatPrice | currency }}
        </p>
      </div>

      <div *ngIf="cart.services && cart.services.length > 0">
        <p class="text-gray-800 font-semibold mb-2">Services:</p>
        <ul class="space-y-2">
          <li
            *ngFor="let service of cart.services"
            class="text-sm text-gray-700 flex justify-between"
          >
            <span>{{ service.name }}</span>
            <span>(x{{ service.quantity }})</span>
          </li>
        </ul>

        <div class="flex justify-between mb-2 items-center">
          <p class="text-gray-800 font-semibold">Total of services:</p>
          <p class="text-sm text-gray-700">
            {{ cart.totalServicePrice | currency }}
          </p>
        </div>
      </div>

      <div class="mt-auto pt-4 border-t">
        <p
          class="text-lg font-bold text-gray-900 text-center bg-red-100 p-2 rounded-lg"
        >
          Total:
          <span class="text-red-600">{{ cart.totalPrice | currency }}</span>
        </p>
      </div>
    </div>

    <!-- Phần phải: Select method of payment -->
    <div
      class="flex-1 flex flex-col items-center justify-center px-6 py-4 bg-gray-50 rounded-lg h-full"
    >
      <div class="bg-white p-4 rounded-lg shadow-md w-full max-w-md">
        <form (ngSubmit)="submitPayment()">
          <p class="text-lg font-bold text-gray-800 mb-4 text-center">
            Select a Payment Method
          </p>

          <div class="space-y-4">
            <label class="flex items-center space-x-2">
              <input
                type="radio"
                name="paymentMethod"
                value="credit_card"
                class="h-4 w-4 text-[#e53637] border-gray-300 select-none focus:ring-red-500"
                [(ngModel)]="selectedPaymentMethod"
                required
              />
              <span class="text-gray-800 select-none cursor-pointer"
                >Credit Card</span
              >
            </label>

            <label class="flex items-center space-x-2">
              <input
                type="radio"
                name="paymentMethod"
                value="paypal"
                class="h-4 w-4 text-[#e53637] border-gray-300 select-none focus:ring-red-500"
                [(ngModel)]="selectedPaymentMethod"
                required
              />
              <span class="text-gray-800 select-none cursor-pointer"
                >PayPal</span
              >
            </label>

            <label class="flex items-center space-x-2">
              <input
                type="radio"
                name="paymentMethod"
                value="cash"
                class="h-4 w-4 text-[#e53637] border-gray-300 select-none focus:ring-red-500"
                [(ngModel)]="selectedPaymentMethod"
                required
              />
              <span class="text-gray-800 select-none cursor-pointer">Cash</span>
            </label>

            <!-- Thêm phương thức chuyển khoản ngân hàng -->
            <label class="flex items-center space-x-2">
              <input
                type="radio"
                name="paymentMethod"
                value="bank_transfer"
                class="h-4 w-4 text-[#e53637] border-gray-300 select-none focus:ring-red-500"
                [(ngModel)]="selectedPaymentMethod"
                required
              />
              <span class="text-gray-800 select-none cursor-pointer"
                >Bank Transfer</span
              >
            </label>
          </div>

          <button
            type="submit"
            class="mt-6 w-full bg-[#e53637] select-none cursor-pointer text-white py-2 px-4 rounded-lg font-semibold shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-600"
            [disabled]="
              !['paypal', 'bank_transfer'].includes(selectedPaymentMethod)
            "
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-login-modal
  [isVisible]="isLoginModalVisible"
  (close)="closeLoginModal()"
></app-login-modal>

<!-- Gọi component app-qrpayment-modal khi chọn Bank Transfer -->
<app-qr-payment-modal
  *ngIf="isQrModalVisible"
  [isVisible]="isQrModalVisible"
  (onClose)="closeQrModal()"
></app-qr-payment-modal>
