.hero__slider {
  position: relative;
  .owl-carousel {
    position: relative;
  }
}

.hero__items {
  position: relative;
  height: 500px; /* Adjust height as necessary */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
  z-index: 10; /* Ensures text appears over the image */
}

.hero__text .label {
  font-size: 16px;
  font-weight: bold;
}

.hero__text h2 {
  font-size: 40px;
  margin-top: 10px;
}

.hero__text p {
  font-size: 18px;
  margin-top: 10px;
}

.hero__text a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
}

.hero__text a i {
  margin-left: 10px;
}

// search
/* Search Input Styles */
.search-input-container {
  margin-top: 10px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: -100px;
  width: 300px;
  top: 50px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Movie Results Styles */
.movie-results {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 400px; /* Set max height for scroll-y */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-results h5 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.movie-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movie-image {
  width: 50px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.movie-info {
  flex: 1;
}

.movie-info h4 {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.movie-info p {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.movie-info .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.movie-info .status {
  color: red;
  font-weight: bold;
}
