<!-- Hero Section Begin -->
<section class="hero bg-[#0b0c2a] pt-0 pb-20 px-0">
  <div
    id="indicators-carousel"
    class="w-full px-[45px] container relative"
    data-carousel="static"
  >
    <div class="relative h-[600px] overflow-hidden rounded-lg container">
      <!-- Item 1 -->
      <div
        class="hidden duration-700 ease-in-out hero__items set-bg w-full"
        data-setbg="img/hero/hero-1.jpg"
        style="background-image: url('img/hero/hero-1.jpg')"
        data-carousel-item="active"
      >
        <div class="row relative z-10">
          <div class="col-lg-6 absolute top-2/3 left-0 text-left">
            <div class="text-white p-4">
              <div class="label text-white text-xl">Adventure</div>
              <h2 class="text-3xl font-bold">
                Fate / Stay Night: Unlimited Blade Works
              </h2>
              <p class="mt-4">
                After 30 days of travel across the world, Doraemon has been
                found it. Now Doraemon must to go a dungeon advanture for help
                Nobita and fight any bad people. Let watch it!
              </p>
              <a href="#" class="mt-4 inline-block text-yellow-500">
                <span
                  class="px-[20px] py-[12px] bg-red-600 hover:bg-red-500 rounded-md text-[18px] uppercase"
                  >Watch Now</span
                >
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 1 -->
      <div
        class="hidden duration-700 ease-in-out hero__items set-bg w-full"
        data-setbg="img/hero/hero-1.jpg"
        style="background-image: url('img/hero/hero-1.jpg')"
        data-carousel-item="active"
      >
        <div class="row relative z-10">
          <div class="col-lg-6 absolute top-2/3 left-0 text-left">
            <div class="text-white p-4">
              <div class="label text-white text-xl">Adventure</div>
              <h2 class="text-3xl font-bold">
                Fate / Stay Night: Unlimited Blade Works
              </h2>
              <p class="mt-4">
                After 30 days of travel across the world, Doraemon has been
                found it. Now Doraemon must to go a dungeon advanture for help
                Nobita and fight any bad people. Let watch it!
              </p>
              <a href="#" class="mt-4 inline-block text-yellow-500">
                <span
                  class="px-[20px] py-[12px] bg-red-600 hover:bg-red-500 rounde text-[18px] uppercased -md"
                  >Watch Now</span
                >
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 1 -->
      <div
        class="hidden duration-700 ease-in-out hero__items set-bg w-full"
        data-setbg="img/hero/hero-1.jpg"
        style="background-image: url('img/hero/hero-1.jpg')"
        data-carousel-item="active"
      >
        <div class="row relative z-10">
          <div class="col-lg-6 absolute top-2/3 left-0 text-left">
            <div class="text-white p-4">
              <div class="label text-white text-xl">Adventure</div>
              <h2 class="text-3xl font-bold">
                Fate / Stay Night: Unlimited Blade Works
              </h2>
              <p class="mt-4">
                After 30 days of travel across the world, Doraemon has been
                found it. Now Doraemon must to go a dungeon advanture for help
                Nobita and fight any bad people. Let watch it!
              </p>
              <a href="#" class="mt-4 inline-block text-yellow-500">
                <span
                  class="px-[20px] py-[12px] bg-red-600 hover:bg-red-500 rounded-md text-[18px] uppercase"
                  >Watch Now</span
                >
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 1 -->
      <div
        class="hidden duration-700 ease-in-out hero__items set-bg w-full"
        data-setbg="img/hero/hero-1.jpg"
        style="background-image: url('img/hero/hero-1.jpg')"
        data-carousel-item="active"
      >
        <div class="row relative z-10">
          <div class="col-lg-6 absolute top-2/3 left-0 text-left">
            <div class="text-white p-4">
              <div class="label text-white text-xl">Adventure</div>
              <h2 class="text-3xl font-bold">
                Fate / Stay Night: Unlimited Blade Works
              </h2>
              <p class="mt-4">
                After 30 days of travel across the world, Doraemon has been
                found it. Now Doraemon must to go a dungeon advanture for help
                Nobita and fight any bad people. Let watch it!
              </p>
              <a href="#" class="mt-4 inline-block text-yellow-500">
                <span
                  class="px-[20px] py-[12px] bg-red-600 hover:bg-red-500 rounded-md text-[18px] uppercase"
                  >Watch Now</span
                >
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Item 1 -->
      <div
        class="hidden duration-700 ease-in-out hero__items set-bg w-full"
        data-setbg="img/hero/hero-1.jpg"
        style="background-image: url('img/hero/hero-1.jpg')"
        data-carousel-item="active"
      >
        <div class="row relative z-10">
          <div class="col-lg-6 absolute top-2/3 left-0 text-left">
            <div class="text-white p-4">
              <div class="label text-white text-xl">Adventure</div>
              <h2 class="text-3xl font-bold">
                Fate / Stay Night: Unlimited Blade Works
              </h2>
              <p class="mt-4">
                After 30 days of travel across the world, Doraemon has been
                found it. Now Doraemon must to go a dungeon advanture for help
                Nobita and fight any bad people. Let watch it!
              </p>
              <a href="#" class="mt-4 inline-block text-yellow-500">
                <span
                  class="px-[20px] py-[12px] bg-red-600 hover:bg-red-500 rounded-md text-[18px] uppercase"
                  >Watch Now</span
                >
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex -translate-x-1/2 space-x-3 rtl:space-x-reverse bottom-5 left-1/2"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 4"
        data-carousel-slide-to="3"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full"
        aria-current="false"
        aria-label="Slide 5"
        data-carousel-slide-to="4"
      ></button>
    </div>
    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-1/2 -left-2 z-30 flex items-center justify-center w-10 h-10 rounded-full bg-gray-400 dark:bg-gray-800/30 group hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 transform -translate-y-1/2"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-6 h-6 text-gray-800 dark:text-gray-800 rtl:rotate-180"
      >
        <svg
          class="w-4 h-4 -ml-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-1/2 -right-2 z-30 flex items-center justify-center w-10 h-10 rounded-full bg-gray-400 dark:bg-gray-800/30 group hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 transform -translate-y-1/2"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-6 h-6 text-gray-800 dark:text-gray-800 rtl:rotate-180"
      >
        <svg
          class="w-4 h-4 ml-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 6 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product py-0 bg-[#0b0c2a] my-0">
  <div class="container mx-auto">
    <div class="row flex flex-wrap">
      <div class="w-full">
        <!-- Trending Products -->
        <div class="trending__product mb-10">
          <div class="flex justify-between items-center mb-6">
            <div class="">
              <div class="section-title">
                <h4 class="text-white text-[25px] font-bold">Trending Now</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all text-right">
                <a
                  href="#"
                  class="primary-btn text-white bg-red-600 px-4 py-2 rounded hover:bg-red-500"
                  >View All <span class="arrow_right"></span
                ></a>
              </div>
            </div>
          </div>

          <div class="row flex flex-wrap -mx-2">
            <!-- Product Card -->
            <div
              class="col-lg-3 col-md-6 col-sm-6 px-2 mb-6"
              *ngFor="let product of products"
            >
              <div
                class="product__item bg-[#1c1d3b] rounded-lg overflow-hidden shadow-lg"
              >
                <div
                  class="product__item__pic relative bg-cover bg-center h-56"
                  [style.background-image]="'url(' + product.image + ')'"
                  (mouseenter)="product.showPlayButton = true"
                  (mouseleave)="product.showPlayButton = false"
                >
                  <!-- Play Button -->
                  <div
                    *ngIf="product.showPlayButton"
                    class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-100"
                  >
                    <button (click)="openVideo(product.videoUrl)">
                      <svg
                        class="w-12 h-12 fill-white"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                      >
                        <path
                          d="M106 59.3l320 192c9.9 6 9.9 21.4 0 27.4l-320 192c-10 6-22.9-.9-22.9-13.7V73c0-12.8 12.9-19.7 22.9-13.7z"
                        />
                      </svg>
                    </button>
                  </div>

                  <!-- Product Info -->
                  <div
                    class="absolute top-2 left-2 text-xs text-white bg-black/50 px-2 py-1 rounded"
                  >
                    {{ product.rating }}
                  </div>
                  <div
                    class="absolute top-2 right-2 text-xs text-white bg-black/50 px-2 py-1 rounded flex items-center space-x-1 gap-1"
                  >
                    <svg
                      class="w-4 h-4 fill-white"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9l.3-.5z"
                      />
                    </svg>
                    11
                  </div>
                  <div
                    class="absolute bottom-2 right-2 text-xs text-white bg-black/50 px-2 py-1 rounded flex items-center gap-1 space-x-1"
                  >
                    <svg
                      class="w-4 h-4 fill-white"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 576 512"
                    >
                      <path
                        d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                      />
                    </svg>
                    9141
                  </div>
                </div>
                <div class="product__item__text p-4">
                  <ul class="flex space-x-2 text-sm text-gray-400 mb-2 p-0">
                    <li class="bg-gray-600/20 px-2 py-1 rounded">Active</li>
                    <li class="bg-gray-600/20 px-2 py-1 rounded">Movie</li>
                  </ul>
                  <h5 class="text-white text-sm font-bold">
                    <a href="#" class="hover:text-gray-400 text-[18px]">{{
                      product.title
                    }}</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal for Video -->
          <div
            *ngIf="isModalOpen"
            class="fixed inset-0 bg-black/70 flex items-center justify-center z-50"
          >
            <div class="relative bg-black rounded-lg overflow-hidden">
              <button
                class="absolute top-2 right-2 text-white text-xl"
                (click)="closeVideo()"
              >
                &times;
              </button>
              <iframe
                [src]="videoUrl"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                class="w-[70vw] h-[70vh]"
              ></iframe>
            </div>
          </div>
        </div>

        <!-- Popular Products -->
        <div class="popular__product">
          <div class="row flex justify-between items-center mb-6">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="section-title">
                <h4 class="text-white text-[25px] font-bold">Popular Shows</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all text-right">
                <a
                  href="#"
                  class="primary-btn text-white bg-red-600 px-4 py-2 rounded hover:bg-red-500"
                  >View All <span class="arrow_right"></span
                ></a>
              </div>
            </div>
          </div>

          <div class="row flex flex-wrap -mx-2">
            <!-- Product Card (Popular Products) -->
            <div
              class="col-lg-3 col-md-6 col-sm-6 px-2 mb-6"
              *ngFor="let popularProduct of popularProducts"
            >
              <div
                class="product__item bg-[#1c1d3b] rounded-lg overflow-hidden shadow-lg"
              >
                <div
                  class="product__item__pic relative bg-cover bg-center h-56"
                  [style.background-image]="'url(' + popularProduct.image + ')'"
                  (mouseenter)="popularProduct.showPlayButton = true"
                  (mouseleave)="popularProduct.showPlayButton = false"
                >
                  <!-- Play Button -->
                  <div
                    *ngIf="popularProduct.showPlayButton"
                    class="absolute inset-0 bg-black/50 flex items-center justify-center opacity-100"
                  >
                    <button (click)="openVideo(popularProduct.videoUrl)">
                      <svg
                        class="w-12 h-12 fill-white"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                      >
                        <path
                          d="M106 59.3l320 192c9.9 6 9.9 21.4 0 27.4l-320 192c-10 6-22.9-.9-22.9-13.7V73c0-12.8 12.9-19.7 22.9-13.7z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="product__item__text p-4">
                  <ul class="flex space-x-2 text-sm text-gray-400 mb-2 p-0">
                    <li class="bg-gray-600/20 px-2 py-1 rounded">Popular</li>
                    <li class="bg-gray-600/20 px-2 py-1 rounded">Show</li>
                  </ul>
                  <h5 class="text-white text-sm font-bold">
                    <a href="#" class="hover:text-gray-400 text-[18px]">{{
                      popularProduct.title
                    }}</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Product Section End -->
